.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app .add-todo {
  background-color: #3399FF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  padding: 1vh 1vw;
  margin-right: 2vw;
  margin-left: auto;
}